.container {
    position: relative;
    background-color: blue;
    height: 100px;
}

.box {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}